<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodSoft</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();
                var userInput = $('#user_input').val();
                $('#chat-container').append('<div class="chat-container user-chat">' + userInput + '</div>');
                $.ajax({
                    type: 'POST',
                    url: '/get_response',
                    data: {user_input: userInput},
                    success: function(response) {
                        $('#chat-container').append('<div class="chat-container bot-chat">' + response + '</div>');
                        $('#user_input').val('');
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>Task I Rule-based Chatbot</h1>
        <div id="chat-container">
            
        </div>
        <form>
            <label for="user_input">How can I help you?</label><br>
            <input type="text" id="user_input" name="user_input" placeholder="Enter your question"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
